
.raleway-uniquifier{
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
}

/* Header Design */
header{
    background-image: url('../Assets/Hero-bg.png');
}

/* body Color */
body{
     background-color:  rgb(245, 248, 255);
}

/* Navbar Design */
nav{
    margin: 0 200px;
}
nav ul{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
nav li{
    list-style: none;
}
nav li a{
    text-decoration: none;
    
}
.nav-title{
    font-size: 34px;
    font-weight: bold;
}

/* main Design */
main{
    max-width: 1140px;
    margin: 0 auto;
   
}

/* Banner Design */
.banner{
    width: 100%;
    padding-bottom: 152px;
}
.banner-title{
    font-size: 65px;
    font-weight: bold;
    margin-bottom: 0px;
}
.banner button{
    margin-top: 37px;
}

/* action Part Design */
.action{
    display: flex;
    align-items: center;
    width: 100%;
    
}
.action-content{
    margin-right: 220px;
}
.action-title{
  font-size: 38px;
  font-weight: bold;
}
.action-description{
    font-size: 24px;
    font-weight:500;
}
.action img{
    border-radius: 48px;
}


/* Users design */
.users{
    
    background-color: rgba(78, 71, 255, 0.1);
    padding: 50px 80px;
    width: 86%;
    border-radius: 15px;
}
.user-title{
    font-size: 38px;
    font-weight: bold;
    margin-bottom: 0px;
   
}
.user-description{
    margin-top: 0px auto;
    display: flex;
    justify-content: space-around;
}

/* Touch Part Design */
.touch{
    display: flex;
    justify-content: space-around;
    /* margin: 92px 150px 104px 150px; */
    width: 100%;
}
.touch-title{
   gap: 115px;
    font-size: 97px;
    font-weight: bold;
}
.touch input[type="email"],[type="text"],textarea{
     height: 32px;
    border-radius: 5px;
    background-color: white;
    display: block;
    width: 497px;
    padding: 10px 20px;
    margin-bottom: 24px;
    border: none;
}
form button{
     width: 100%;
}
/* Review Part Design */
.review-title{
    margin-top: 137px;
    margin-bottom: 50px;
    font-size: 50px;
    font-weight: bold;
}
.review-subtitle{
    font-size: 29px;
    font-weight:600;
    margin-bottom: 0px;
}
.review-content{
    display: flex;
    justify-content: space-between;
    gap: 20px;
    text-align: left;
}
.rating{
    border-radius: 15px;
    background-color: white;
    padding: 24px;
}

.checked {
  color: orange;
}

.customers{
    display: flex;
    gap: 10px;
    align-items: center;
}
.customers img{
    border-radius: 50%;
    width: 40px;
    height: 40px;
}
.customers{
    margin: 0px;
}
.name{
    margin-bottom: 0px;
}
.date {
    margin-top: 0px;
}


/* Footer part Design */
footer{
    margin-top: 104px;
    margin-bottom: 104px;
}
.footer-title{
    font-size: 100px;
    font-weight: bolder;
    margin-bottom: 0;
}
footer ul{
    display: flex;
    gap: 50px;
    justify-content: center;
}
footer li{
    list-style: none;
}
footer li a{
    text-decoration: none;
}

/* Shared Style */

.margin{
    margin: 116px 0px;
}
.text-size-1{
    font-size: 80px;
    font-weight: bold;
    margin-bottom: 0px;
}
.text-size-2{
    font-size: 18px;
    font-weight: 500;
}
.text-color-1{
      color: #252432;
}
.text-color-2{
     color: rgba(37, 36, 50, 0.5);
}
.text-color-3{
     color: #4E47FF;
}
.btn-primary{
    background-color: #4E47FF;
    padding: 12px 36px;
    color: white;
    border: none;
    border-radius: 10px;
}
.btn-primary:hover{
    background-color: darkgreen;
}
.text-center{
    text-align: center;
}